@font-face {
	font-family: 'VelaSans';
	src: url('../public/fonts/vela_sans/VelaSans/Variable/VelaSans-GX.ttf') format('opentype');
	font-style: normal;
}

@font-face {
	font-family: 'novoposelensky';
	src: url('../public/fonts/novoposelensky/Novoposelensky.otf') format('opentype');
	font-style: normal;
}

@font-face {
	font-family: 'chetkiy';
	src: url('/fonts/chetkiy/CHETKIYTYPEFACE.ttf') format('opentype');
	font-style: normal;
}
@font-face {
	font-family: 'chetkiy-italic';
	src: url('/fonts/chetkiy/CHETKIYTYPEFACEITALIC.ttf') format('opentype');
	font-style: italic;
}
